html, body {
  height: 100%;
  width: 100%;
padding:0px;
  margin: 0px;
  background-color: #5441b0
}

.container {
  display: grid;
  grid-template-areas: 
"item item item"
  "item item item"
  "item item item";
  }

.item, .newGame{
  background-color: #333;
  margin: 10px;
  font-size: 22vw;
  width: 28vw;
  height: 14vh;
  text-align: center;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: solid 2px #333;
}

span{
  display: none;
/*   transform: rotateY(180deg); */
}

.newGame{
  width: 95%;
  height: 5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
color: white;
  font-size: 10vw;
  font-family: sans-serif;
  }

.score{
  margin: 5px auto;
  display: flex;
flex-direction: row;
justify-content: space-around;
  padding-bottom: 10px;
}

 .btn{
   padding-top:0px;
 }